.main {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y proximity;
}
.linklist li span {
	padding: 0.6rem 1rem;
	border-radius: 12px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.8px);
	-webkit-backdrop-filter: blur(5.8px);
	background: rgba(255, 255, 255, 0.037);
	border: 1px solid rgba(255, 255, 255, 0.056);
	cursor: pointer;
	min-width: 120px;
	font-weight: 600;
}
.linklist li span:hover {
	background: rgba(255, 255, 255, 0.311);
}
.section {
	align-items: center;
	height: 100vh;
	color: white;
	scroll-snap-align: start;
	background-color: rgb(25, 60, 61);
}
.container {
	width: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	overflow: visible;
}

.card {
	width: 320px;
	min-height: 400px;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(47, 103, 105, 0.348);
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	border-radius: 1rem;
	z-index: 10;
	color: whitesmoke;
}

.title {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.subtitle {
	font-size: 1rem;
	margin-bottom: 2rem;
}

.btn {
	background: none;
	border: none;
	text-align: center;
	font-size: 1rem;
	color: whitesmoke;
	background-color: rgb(65, 188, 192);
	padding: 0.8rem 1.8rem;
	border-radius: 2rem;
	cursor: pointer;
}

.blob {
	position: absolute;
	width: 450px;
	height: 450px;
	background: linear-gradient(180deg, rgba(8, 40, 41, 0.374) 31.77%, rgba(57, 180, 184, 0.544) 100%);
	mix-blend-mode: color-dodge;
	-webkit-animation: move 20s infinite alternate;
	animation: move 20s infinite alternate;
	transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
	width: 520px;
	height: 520px;
	-webkit-filter: blur(50px);
	filter: blur(50px);
	box-shadow: inset 0 0 0 5px rgba(196, 226, 228, 0.6), inset 100px 100px 0 0px rgba(53, 102, 104, 0.5), inset 200px 200px 0 0px rgba(60, 195, 199, 0.4),
		inset 300px 300px 0 0px #629ec960;
}

@-webkit-keyframes move {
	from {
		transform: translate(-150px, -200px) rotate(-90deg);
		border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
	}

	to {
		transform: translate(250px, 100px) rotate(-10deg);
		border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
	}
}

@keyframes move {
	from {
		transform: translate(-150px, -200px) rotate(-90deg);
		border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
	}

	to {
		transform: translate(250px, 100px) rotate(-10deg);
		border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
	}
}
.socialBtn{
	background: linear-gradient(145deg, #5fb2a3, #509589);
	box-shadow:  20px 20px 60px #4c8d81, -20px -20px 60px #66bfaf;
	transition-property: transform;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}
.socialBtn:hover{
	transition: ease-in-out;
	transform: scale(1.075);
}
.circle{
	border-radius: 50%;
}
.circle::after {
  content: "";
	position: absolute;
	bottom: -2px;
	left: -2px;
	width: 84px;
	height: 44px;
	border-radius: 0% 0% 40px 40px;
	border: 4px solid #1c1c1e;
	z-index: 10;
}